body{
    background-color: 9053c7;
}

h5{
    margin: 0;
    width: 100%;
    position: absolute;               
    top: 50%;      
    font-size: 40px;
    margin-top: -40px;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
    size: 100;
    font-weight: bold;
} 
button {
    margin: 10px;
    width: auto;
    padding: 15px 50px;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #732d91;
}


button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

